service/build
service/gradle
service/out
service/.gradle
service/build.gradle
service/gradle.properties
service/gradlew
service/gradlew.bat
service/setting.gradle




# IntelliJ

*.ipr
*.iml
*.iws


service/settings.gradle
